<div class="badge rounded-pill">
<span class="badge rounded-pill m-1 <% @metric ? "bg-light" : "bg-dark" %>"> Metric </span>
<span class="badge rounded-pill m-1 <% @metric ? "bg-dark" : "bg-light" %>"> US </span>
</div>