<div class="card text-start shadow-none">
  <h2 class="card-header bg-grey"><%= @title %></h2>
  <p class="card-body m-0 <%= @danger ? 'bg-danger' : 'bg-white' %> <%= @danger ? 'text-white' : 'text-black' %>">
    <%= @description %>
  </p>
</div>